/*utils*/
:root {
  --osnova-text-color: #757575;
  --two-text-color: #212121;
  --background-color: #2196F3;
  --active-color: #FFFFFF;
  --dont-active-color: #F5F4FA;
  --background-h1-color: #2F303A;
  --color-footer-last: rgba(255, 255, 255, 0.6);
  --button-active: #188CE8;
  --background-color-shapka: #C4C4C4;
  --timing-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/*base*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--active-color);
  color: var(--osnova-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

h1 h2 h3 h4 h5 h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  z-index: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.secondary-title {
  color: var(--two-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .secondary-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.visual-hiden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*header*/
.hat > .container {
  justify-content: space-between;
}

/*components header*/
/*header*/
.hat {
  border-bottom: 1px solid #ECECEC;
}

.logo:active .logo:hover .logo:focus .logo:visited {
  color: var(--background-color);
}

.logo--span:active .logo--span:hover .logo--span:focus .logo--span:visited {
  color: var(--two-text-color);
}

.logo {
  color: var(--background-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--span {
  color: var(--two-text-color);
}

.navigation {
  margin-left: 93px;
}

.hat > .container,
.navigation__tabs,
.contact {
  display: flex;
  align-items: center;
}

.navigation__tabs .navigation__list + .navigation__list,
.contact .contact__list + .contact__list {
  margin-left: 50px;
}

.navigation__tabs .navigation__studio,
.contact .contact__nomer {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact {
  margin-left: auto;
  text-align: center;
  justify-content: center;
}

.navigation__studio {
  color: var(--two-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  position: relative;
  display: inline-block;
  transition: color 250ms var(--timing-cubic);
}

.navigation__studio::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  transition: background-color 250ms var(--timing-cubic);
}

.navigation__studio:hover:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--background-color);
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.navigation__current {
  color: var(--background-color);
  position: relative;
  transition: color 250ms var(--timing-cubic);
}

.navigation__current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--background-color);
  color: var(--background-color);
}

.navigation__studio:hover {
  color: var(--background-color);
}

.navigation__studio:focus,
.navigation__studio:active {
  color: var(--background-color);
}

.contact__nomer {
  color: var(--osnova-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.16;
  fill: var(--osnova-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing-cubic), fill 250ms var(--timing-cubic);
}
@media screen and (min-width: 1200px) {
  .contact__nomer {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact__smartphone {
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.contact__envelope {
  display: inline-block;
  width: 16px;
  height: 12px;
  cursor: pointer;
  margin-right: 10px;
}

.contact__nomer:hover,
.contact__nomer:focus,
.contcontact__envelope:hover,
.contcontact__envelope:focus,
.contcontact__smartphone:hover,
.contcontact__smartphone:focus {
  color: var(--background-color);
  fill: var(--background-color);
}

@media screen and (max-width: 1199px) {
  .contact {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 1199px) {
  .contact .contact__nomer {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 1199px) {
  .contact .contact__list + .contact__list {
    margin-left: 0;
  }
}

@media screen and (max-width: 1199px) {
  .contact__list:nth-child(1) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .contact__envelope {
    width: 14px;
    height: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .contact__smartphone {
    width: 10px;
    height: 14px;
  }
}

/*studio*/
.header-studio {
  background-color: var(--background-color-shapka);
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .header-studio {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.overlay {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 400px;
  background-color: var(--background-h1-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/mobile/bg_hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--active-color);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/mobile/bg_hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/tablet/bg_hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/tablet/bg_hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/desktop/bg_hero-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/desktop/bg_hero-desktop@2x.jpg);
  }
}

.main-header {
  max-width: 365px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
}
@media screen and (min-width: 1200px) {
  .main-header {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
  }
}

.button-studio {
  background-color: var(--background-color);
  color: var(--active-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border: transparent;
  padding: 10px 32px;
}

.button-studio:hover,
.button-studio:focus,
.button-studio:active {
  background-color: var(--button-active);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-cubic);
  z-index: 100;
}

.backdrop .is-hidden .modal {
  scale: translate(-50%, -50%) scale(0.5);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: calc(100% - 30px);
  min-height: 581px;
  background: var(--active-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
  opacity: 1;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
  .form-modal__text {
    font-size: 12px;
    line-height: 1.667;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
  .form-modal__text {
    font-size: 14px;
    line-height: 1.714;
  }
}
.modal-button {
  width: 30px;
  height: 30px;
  color: #000;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--active-color);
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms var(--timing-cubic);
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--background-color);
}

.modal-button__vector {
  width: 11px;
  height: 11px;
  text-align: center;
}

.title-modal {
  display: block;
  margin-bottom: 12px;
  margin-top: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--two-text-color);
}

.form-modal__form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
  transition: fill 250ms var(--timing-cubic);
}

.form-modal__form-field:focus-within {
  fill: var(--background-color);
}

.form-modal__name {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  display: block;
  text-align: left;
  color: #757575;
}

.form-modal__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  transition: border 250ms var(--timing-cubic);
}

.form-modal__icons {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  text-align: center;
  display: inline-block;
}

.form-modal__envelope {
  margin-bottom: 20px;
  margin-top: 0px;
  display: block;
}

.form-modal__coment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  margin-top: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
  border-radius: 4px;
  transition: border 250ms var(--timing-cubic);
  display: block;
}

.form-modal__input:focus,
.form-modal__coment:focus {
  border: 1px solid var(--background-color);
  outline: none;
}

.form-modal__contract {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 0;
}

.form-modal__mark {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.form-modal__mark:checked + .form-modal__box {
  fill: var(--background-color);
  background-color: var(--background-color);
  border: 0px solid transparent;
}

.form-modal__box {
  width: 16px;
  height: 15px;
  fill: var(--active-color);
  border: 2px solid var(--two-text-color);
  border-radius: 4px;
  padding: 0%;
  margin-right: 7px;
  cursor: pointer;
  transition: fill 250ms var(--timing-cubic), background-color 250ms var(--timing-cubic), border 250ms var(--timing-cubic);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .form-modal__box {
    width: 20px;
    height: 15px;
  }
}

.form-modal__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .form-modal__text {
    text-align: center;
    font-size: 12px;
  }
}

.form-modal__treaty {
  color: var(--background-color);
  text-decoration: underline;
}

.form-modal__button {
  text-align: center;
  border-radius: 4px;
  background-color: var(--background-color);
  padding: 10px 52px;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--active-color);
  border: none;
  cursor: pointer;
  font-weight: 700;
  transition: box-shadow 250ms var(--timing-cubic), background-color 250ms var(--timing-cubic);
}

.form-modal__button:hover,
.form-modal__button:focus {
  background-color: var(--button-active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
  .form-modal__text {
    font-size: 12px;
    line-height: 1.667;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
  .form-modal__text {
    font-size: 14px;
    line-height: 1.714;
  }
}
.form-modal__label-button {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0px;
  }
}

.important-benefits {
  display: block;
  margin: -15px;
}
@media screen and (min-width: 768px) {
  .important-benefits {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .important-benefits {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .important-benefits__list {
    margin-bottom: 30px;
    padding: 0px 15px;
  }
  .important-benefits__list:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .important-benefits__list {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .important-benefits__list {
    flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.icons {
  height: 120px;
  background-color: var(--dont-active-color);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.important-benefits__icon {
  width: 70px;
  height: 70px;
}

.important-benefits__name {
  color: var(--two-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .important-benefits__name {
    text-align: center;
    align-items: left;
  }
}

.important-benefits__text {
  font-size: 14px;
  line-height: 1.71;
}

.engane-me {
  margin-top: 0px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .is-display {
    display: none;
  }
}

.engane-important {
  display: flex;
  list-style-type: none;
}

.engane-important__list {
  flex-basis: 370px;
  margin-right: 30px;
  position: relative;
}

.engane-important__list:last-child {
  margin-right: 0px;
}

.engane-important__block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24%;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-color);
  padding-top: 27px;
}

.comand {
  background-color: var(--dont-active-color);
}

.comand-me {
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .comand-me {
    margin-bottom: 50px;
  }
}

.comand-member {
  display: block;
  margin: -15px;
}
@media screen and (max-width: 767px) {
  .comand-member {
    padding: 0px 15px;
  }
}
@media screen and (min-width: 768px) {
  .comand-member {
    display: flex;
    flex-wrap: wrap;
  }
}

.comand-member__list {
  margin: 15px;
  flex-basis: calc(100% - 30px);
  background-color: var(--active-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .comand-member__list {
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .comand-member__list:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .comand-member__list {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .comand-member__list {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.text-elements {
  padding-top: 30px;
  padding-bottom: 30px;
}

.comand-member__name {
  color: var(--two-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.comand-member__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.comand-member__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comand-member__icon + .comand-member__icon {
  margin-left: 10px;
}

.comand-member__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-cubic), fill 250ms var(--timing-cubic);
}

.comand-member__link:hover,
.comand-member__link:focus,
.comand-member__link:active {
  border-radius: 50px;
  background-color: var(--background-color);
  fill: var(--active-color);
}

.comand-member__merej {
  width: 20px;
  height: 20px;
}

/*company*/
.title-client {
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title-client {
    margin-bottom: 50px;
  }
}

.regular-customers {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.regular-customers__list {
  flex-basis: calc((100% - 60px) / 2);
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .regular-customers__list {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .regular-customers__list {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.regular-customers__link {
  height: 92px;
  border: 1px solid #AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  fill: #AFB1B8;
  transition: fill 250ms var(--timing-cubic), border-color 250ms var(--timing-cubic);
}

.regular-customers__link:hover,
.regular-customers__link:focus,
.regular-customers__link:active {
  fill: var(--background-color);
  border-color: var(--background-color);
}

.regular-customers__ya-co {
  width: 41px;
  height: 46.7px;
}

.regular-customers__taglin-here {
  width: 40px;
  height: 52px;
}

.regular-customers__company {
  height: 41.18151474px;
  width: 43.4600067139px;
}

.regular-customers__foster-reters {
  height: 40.6231269836px;
  width: 84.4364776611px;
}

.regular-customers__brand {
  height: 45.4333648682px;
  width: 62.5399971008px;
}

.regular-customers__tag-lin {
  height: 43.9255142212px;
  width: 93.7935638428px;
}

/*portfolio*/
.click-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.click-portfolio__list {
  display: block;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-right: 8px;
  justify-content: center;
}

.click-portfolio__list:last-child {
  margin-right: 0;
}

.click-portfolio__button {
  color: var(--two-text-color);
  background-color: var(--dont-active-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.65;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  border: 4px solid transparent;
  padding: 6px 22px;
  margin-right: 8px;
  transition: color 250ms var(--timing-cubic), background-color 250ms var(--timing-cubic), box-shadow 250ms var(--timing-cubic);
}

.click-portfolio__button:last-child {
  margin-right: 0px;
}

.click-portfolio__button:hover,
.click-portfolio__button:focus,
.click-portfolio__button:active {
  color: var(--active-color);
  background-color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-port {
  display: flex;
  flex-wrap: wrap;
}

.list-port__project {
  margin-right: 30px;
  width: 370px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.list-port__project:nth-child(3n) {
  margin-right: 0px;
}

.list-port__project:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.list-port__link {
  cursor: pointer;
  display: block;
  transition: box-shadow 250ms var(--timing-cubic);
}

.list-port__link:hover .list-port__overlay,
.list-port__link:focus .list-port__overlay,
.list-port__link:hover,
.list-port__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
}

.list-port__box {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.list-port__box:hover,
.list-port__box:focus {
  box-shadow: #000;
}

.list-port__img {
  margin-bottom: 0px;
}

.list-port__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-cubic);
}

.list-port__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  width: auto;
  height: auto;
}

.general-port-text {
  padding: 20px 24px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.list-port__name {
  color: var(--two-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 4px;
}

.list-port__general-text {
  color: var(--osnova-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0px;
}

/*footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-h1-color);
}

.footer-flex {
  display: block;
}
@media screen and (max-width: 767px) {
  .footer-flex {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-flex {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-flex {
    display: flex;
    align-items: baseline;
  }
}

.footer-logo {
  margin-top: 0;
  margin-bottom: 20px;
  display: inline-block;
}

.footer-span {
  color: var(--active-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.adressa {
  align-items: flex-start;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .adressa {
    margin-bottom: 0px;
  }
}

.adress__footer {
  color: var(--active-color);
  padding: 0px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms var(--timing-cubic);
}

.adress__footer:hover,
.adress__footer:focus {
  color: var(--background-color);
}

.adress__gmail {
  margin-top: 0;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .adress__gmail {
    margin-bottom: 9px;
  }
}

.adress__gmail:last-child {
  margin-bottom: 0;
}

.adress__phone {
  color: var(--color-footer-last);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms var(--timing-cubic);
}

.adress__phone:hover,
.adress__phone:focus,
.adress__phone:active {
  color: var(--background-color);
}

@media screen and (max-width: 767px) {
  .joining {
    margin-bottom: 60px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 768px) {
  .joining {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .joining {
    margin-left: 70px;
  }
}

.title-joining {
  color: var(--active-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.joining-icons {
  display: flex;
}
@media screen and (max-width: 765px) {
  .joining-icons {
    justify-content: center;
  }
}

.joining-icons__list + .joining-icons__list {
  margin-left: 10px;
}

.joining-icons__link {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: var(--active-color);
  border-radius: 50px;
  background-color: #43444D;
  transition: background-color 250ms var(--timing-cubic);
}

.joining-icons__link:hover,
.joining-icons__link:focus,
.joining-icons__link:active {
  border-radius: 50px;
  background-color: var(--background-color);
}

.joining-icons__merej {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .mailing-list {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-list {
    margin-left: 93px;
  }
}

.title-maling {
  color: var(--active-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-form {
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}

.footer-form__text {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: transparent;
  width: 250px;
  margin-bottom: 20px;
  color: var(--active-color);
  cursor: pointer;
  transition: border 250ms var(--timing-cubic);
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-form__text {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .footer-form__text {
    display: block;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__text {
    margin-right: 12px;
    width: 358px;
    margin-bottom: 0px;
  }
}

.footer-form__text:focus {
  outline: none;
  border: 1px solid var(--background-color);
}

.footer-form__button {
  background-color: var(--button-active);
  border-radius: 4px;
  padding: 10px 28px;
  color: var(--active-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin-bottom: 0;
  bottom: 0;
  font-weight: 700;
  border: none;
  cursor: pointer;
  text-align: left;
  position: relative;
  transition: box-shadow 250ms var(--timing-cubic), background-color 250ms var(--timing-cubic);
}

.footer-form__button:hover,
.footer-form__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--background-color);
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  top: 25%;
  right: 28px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .navigation,
.contact {
    display: none;
  }
}
.icon-svg {
  width: 24px;
  height: 16px;
  fill: var(--two-text-color);
}

.icon-svg:hover,
.icon-svg:focus {
  fill: var(--background-color);
}

.mobile-svg:hover,
.mobile-svg:focus {
  fill: var(--background-color);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--two-text-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  color: var(--two-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  margin-bottom: 35px;
  letter-spacing: 0.02em;
}

.mobile-navigation:last-child {
  margin-bottom: 302px;
}

.mobile-menu .link:hover,
.mobile-menu .link:focus {
  color: var(--background-color);
}

.mobile-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--background-color);
}

.mobile-gmail {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16px;
  letter-spacing: 0.02em;
  color: var(--osnova-text-color);
}

.mobile-contact {
  margin-bottom: 32px;
}

.mobile-contact:last-child {
  margin-bottom: 64px;
}

.social-networks {
  display: flex;
}

.social-networks:not(:last-child)::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
  margin-right: 10px;
}

.social-networks__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--background-color);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .social-networks__link {
    font-size: 16px;
  }
}

.social-networks__link::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
  margin-right: 10px;
}

.social-networks__link::after:nth-child(1) {
  display: none;
}/*# sourceMappingURL=main.css.map */