/*header*/
.hat {
    border-bottom: 1px solid #ECECEC;
}
.logo:active
.logo:hover
.logo:focus
.logo:visited {
    color: var(--background-color);
}
.logo--span:active
.logo--span:hover
.logo--span:focus
.logo--span:visited {
    color: var(--two-text-color);
}
.logo {
    color:var(--background-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}
.logo--span {
    color: var(--two-text-color);
}
.navigation {
    margin-left: 93px;
}
.hat > .container,
.navigation__tabs,
.contact{
    display: flex;
    align-items: center;
}
.navigation__tabs .navigation__list + .navigation__list,
.contact .contact__list + .contact__list {
    margin-left: 50px;
}
.navigation__tabs .navigation__studio,
.contact .contact__nomer {
    padding-top: 32px;
    padding-bottom: 32px;
}
.contact {
    margin-left: auto;
    text-align: center;
    justify-content: center;
}
.navigation__studio {
    color: var(--two-text-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    position: relative;
    display: inline-block;
    transition: color 250ms var(--timing-cubic);
}
.navigation__studio::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    transition: background-color 250ms var(--timing-cubic);
}
.navigation__studio:hover:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--background-color);
    left: 0;
    bottom: -1px;
    border-radius: 2px;
}
.navigation__current {
    color:var(--background-color);
    position: relative;
    transition: color 250ms var(--timing-cubic);
}
.navigation__current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--background-color);
    color: var(--background-color);
}
.navigation__studio:hover {
    color: var(--background-color);
}
.navigation__studio:focus,
.navigation__studio:active {
    color: var(--background-color);
}
.contact__nomer {
    color:var(--osnova-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    line-height: 1.16;
    fill: var(--osnova-text-color);
    display: flex;
    align-items: center;
    transition: color 250ms var(--timing-cubic) , fill 250ms var(--timing-cubic);

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.contact__smartphone {
    display: inline-block;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    cursor: pointer;
}
.contact__envelope {
    display: inline-block;
    width: 16px;
    height: 12px;
    cursor: pointer;
    margin-right: 10px;
} 
.contact__nomer:hover,
.contact__nomer:focus,
.contcontact__envelope:hover,
.contcontact__envelope:focus,
.contcontact__smartphone:hover,
.contcontact__smartphone:focus{
    color: var(--background-color);
    fill: var(--background-color);
}