.benefits {
    @media screen and (min-width: 1200px) {
        padding-bottom: 0px;
    }
}
.important-benefits {
    display: block;
    margin: -15px;
    padding: 0px 15px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}
.important-benefits__list {
    @media screen and (max-width: 767px){
        margin-bottom: 15px;

        &:last-child{
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width: 768px){
        flex-basis: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: 1200px){
        flex-basis: calc((100% - 4 * 30px) / 4);
        margin: 15px;
    }
}
.icons {
    height: 120px;
    background-color: var(--dont-active-color);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.important-benefits__icon {
    width: 70px;
    height: 70px;
}
.important-benefits__name {
    color: var(--two-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}
.important-benefits__text {
    font-size: 14px;
    line-height: 1.71;
}