.benefits {
    padding-bottom: 0px;
}
.important-benefits {
    display: flex;
}
.important-benefits__list {
    flex-basis: 270px;
    margin-right: 30px;
}
.important-benefits__list:last-child {
    margin-right: 0px;
}
.icons {
    width: 270px;
    height: 120px;
    background-color: var(--dont-active-color);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.important-benefits__icon {
    width: 70px;
    height: 70px;
}
.important-benefits__name {
    color: var(--two-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    margin-top: 0;
    margin-bottom: 10px;
}
.important-benefits__text {
    font-size: 14px;
    line-height: 1.71;
}