.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--timing-cubic);
    z-index: 100;
}
.backdrop .is-hidden .modal {
    scale: translate(-50%, -50%) scale(0.5);
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: calc(100% - 30px);
    min-height: 581px;
    background: var(--active-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
    opacity: 1;
}
@media screen and (min-width: 480px) {
    .modal {
        width: 450px;
    }
    .form-modal__text {
        font-size: 12px;
        line-height: 1.667;
    }
    }
    
    @media screen and (min-width: 1200px) {
    .modal {
        width: 528px;
    }
    .form-modal__text {
        font-size: 14px;
        line-height: 1.714;
    }
}

.modal-button {
    width: 30px;
    height: 30px;
    color: #000;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--active-color);
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: fill 250ms var(--timing-cubic);
}
.modal-button:hover,
.modal-button:focus{
    fill: var(--background-color);
}
.modal-button__vector {
    width: 11px;
    height: 11px;
    text-align: center;
}
.title-modal {
    display: block;
    margin-bottom: 12px;
    margin-top: 0 ;
    font-weight: 700;

    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--two-text-color);
}
.form-modal__form-field {
    position: relative;
    display: block;
    margin-bottom: 10px;
    transition: fill 250ms var(--timing-cubic);
}
.form-modal__form-field:focus-within {
    fill: var(--background-color);
}
.form-modal__name {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    display: block;
    text-align: left;
    color: #757575;
}
.form-modal__input {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    transition: border 250ms var(--timing-cubic);
}
.form-modal__icons {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 12px;
    text-align: center;
    display: inline-block;
}
.form-modal__envelope {
    margin-bottom: 20px;
    margin-top: 0px;
    display: block;
}
.form-modal__coment {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    margin-top: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    resize: none;
    border-radius: 4px;
    transition: border 250ms var(--timing-cubic);
    display: block;
}
.form-modal__input:focus,
.form-modal__coment:focus{
    border: 1px solid var(--background-color);
    outline: none;
}
.form-modal__contract {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 0;
}
.form-modal__mark{
    position: absolute; white-space: nowrap; width: 1px; height: 1px; overflow: hidden; border: 0; padding: 0; clip: rect(0 0 0 0); clip-path: inset(50%); margin: -1px;
}
.form-modal__mark:checked + .form-modal__box{
    fill: var(--background-color);
    background-color: var(--background-color);
    border: 0px solid transparent;
}
.form-modal__box{
    width: 16px;
    height: 15px;
    fill: var(--active-color);
    border: 2px solid var(--two-text-color);
    border-radius: 4px;
    padding: 0%;
    margin-right: 7px;
    cursor: pointer;
    transition: fill 250ms var(--timing-cubic), background-color 250ms var(--timing-cubic), border 250ms var(--timing-cubic);
    @media screen and (min-width: 320px) and (max-width: 479px){
        width: 20px;
        height: 15px;
    }
}
.form-modal__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    @media screen and (min-width: 320px) and (max-width: 479px){
        text-align: center;
    }
}
.form-modal__treaty {
    color: var(--background-color);
    text-decoration: underline;
}
.form-modal__button {
    text-align: center;
    border-radius: 4px;
    background-color: var(--background-color);
    padding: 10px 52px;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--active-color);
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: box-shadow 250ms var(--timing-cubic), background-color 250ms var(--timing-cubic);
}
.form-modal__button:hover,
.form-modal__button:focus {
    background-color: var(--button-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 480px) {
    .modal {
        width: 450px;
    }
    .form-modal__text {
        font-size: 12px;
        line-height: 1.667;
    }
    }
    
    @media screen and (min-width: 1200px) {
    .modal {
        width: 528px;
    }
    .form-modal__text {
        font-size: 14px;
        line-height: 1.714;
    }
}
